<div class="news-body" *ngFor="let news of NewsList">
    <!-- Insert image here-->
    <div class="image">
        <img src="{{news.ImageLink}}" alt="News" style="height: 441px; width: 100%; opacity: 0.4">
    </div>
    <div class="article">
        <!-- Insert news headline-->
        <button style=" color: Black; Background-color:Red; border:0px" (click)="deleteNews(news.id)">Remove News</button>
        <div class="content">
          <p style="font-size: 20px">{{news.Content}}</p>
            
        </div>
                
        <div class="link-div">
            <a href="{{news.ArticleLink}}" target="_blank" class="button-link" >
                Learn more
            </a>
        </div>
    </div>
  </div>